@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes appear {
  0% {
    transform: translateY(50px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  background-color: #111111f3;
  animation: appear 300ms ease-in-out;
}

.presentation {
  background-image: url("https://imageio.forbes.com/specials-images/imageserve/61d52d4e3a76ed81ac034ea8/The-10-Tech-Trends-That-Will-Transform-Our-World/960x0.jpg?height=399&width=711&fit=bounds");
  background-size: cover;
  background-position: "center";
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 10px;
  width: 100%;
}

.about {
  background-image: url("https://img.freepik.com/premium-photo/cardano-blockchain-platform_23-2150411956.jpg");
  background-size: cover;
  background-position: "center";
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 10px;
  width: 100%;
}

.services {
  background-image: url("https://img.freepik.com/premium-photo/cardano-blockchain-platform_23-2150411956.jpg");
  background-size: cover;
  background-position: "center";
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 10px;
  width: 100%;
}

.name {
  color: transparent;
  transition:
    color 300ms ease-in-out,
    transform 350ms ease-in-out;
}

.target:hover .name {
  color: #fff;
  transform: translateY(-150px);
}
